/* *** GENERAL *** */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-background: rgb(32,33,36);
    --color-text: rgb(232,234,237);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.container{
    margin: 10px 10px;
}

/* *** NAVBAR *** */

/* <nav> is a flexbox so you can quickly adjust the layout of the items */ 
nav{
    display: flex;
}

.item-tab{
    width: 100px;
    border-radius: 10px 10px 0 0;
    background-color: darkslategray;
    padding: 10px 10px;
    margin-right: 2px;
    text-align: center;
    cursor: pointer;
}

/* Fix for mobile devices : https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover */
@media (hover: hover){
    .item-tab:hover{
        background-color: cadetblue;
    }
}

.item-tab-selected{
    background-color: darkcyan;
}

/* Override the default hover color so it looks like there's no hovering effect on selected tab */
.item-tab.item-tab-selected:hover {
    background-color: darkcyan;
}

/* *** CONTENT *** */

main{
    background-color: darkcyan;
}

article{
    padding: 10px;
}

article h3{
    margin-bottom: 10px;
}